<!DOCTYPE html>
<html>
    <head><script src="https://www.google.com/recaptcha/api.js"></script></head>
    <body>
<h1>register for 2fa</h1>

<form method="POST">
    <p>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName">
    </p>
    <p>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName">
    </p>
    <p>
        <label for="phone">Phone number: </label>
        <input type="tel" name="phone" placeholder="17147771234" pattern="[0-9]{11}">
    </p>
    <p>
        <label for="username">username: </label>
        <input type="text" name="username">
    </p>
    <p>
        <label for="password">password: </label>
        <input type="password" name="password">
    </p>
    <p>
        <label for="email">email: </label>
        <input type="email" name="email">
    </p>
<p>
<legend>Select method of 2fa: </legend>
<input type="radio" name="2fa" checked="checked" value="sms">SMS
<input type="radio" name="2fa" value="email">E-mail
</p>
    <p>
    <div class="g-recaptcha" data-sitekey="{{ pub_key }}" style="text-align: center; display: inline-block;"></div>
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body></html>